/*style goes here*/
/*style goes here*/
@import url('https://fonts.googleapis.com/css?family=Yellowtail');
@import url('https://fonts.googleapis.com/css?family=Patrick+Hand');
@import url('https://fonts.googleapis.com/css?family=Anton');

h1 {
  font-family: 'Yellowtail', cursive;
  font-size: 34px;
}

h3 {
  display: inline;
}
p.comments_content{
  margin-left: 85px;
  max-width: 550px;
  margin-top: 10px;


}
.bottom_logo img {
    text-align: center;
    transform: translate(1100%, 150%);
}
section p {
    text-indent: 50px;
    margin-bottom: 15px;
    margin-top: 15px;
}

header section p {
  font-size: 10px;
  margin-bottom: 0px;
  margin-top: 0px;
  margin-left: 0px;
  text-indent: 9px;
}
nav {
  float: right;
}
nav ul li {
  float: left;
  margin-top: -20px;
  margin-bottom: 20px;
}
.title a {
  float: right;
}


.title_heading  {
  font-family: 'Anton', sans-serif;
  font-size: 26px;
}
.ingredients {
  font-family: 'Patrick Hand', cursive;
  background-image: url("../images/list-bg.png");
}

.ingredients_list1 {
  margin-left: 40px;
  float: left;
  display: inline;
  width: 49%;
}
.ingredients_list2 {
  display: inline;
  width: 49%;
}

.sub_heading {
  font-size: 7px;
  margin-left: -49px;
  margin-top: 2px;
  margin-bottom: -30px;
}
.main_banner {
  width: 960px;
}

body {
  font-family: helvetica;
  width: 960px;
  margin: 0 auto;
}

.description {
  text-align: justify;
}

.bar_top {
  text-align: center;
  width: 960px;
}

.bar_down {
  text-align: center;
  width: 960px;
  margin-top: 10px;
}

.ingredients {
  display: auto;
}

.print_photo{
  float: right;
  margin-top: 17px;
  margin-right: -44px;
}
.print_text {
  float: right;
  font-size: 10px;
  margin-top: 17px;
}

header section img {
  margin-top: 0px;
  clear: left;
  float: left;
}
ul li{
  display: block;
}

main {
  width: 960px;
  margin: 30px auto;
}
.bottom_logo img {
  text-align: center;
  width: 29px;
  margin-left: 15%;
  background-image: url("");
}

.button {
  border: none;
  background-color: #B85036;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 18px;
  padding: 12px 36px;
  transition: all 0.5s;
  cursor: pointer;
  margin-top: -45px;
  float: right;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}

footer {
    height: 0;
    margin-bottom: 0;
    clear: both;
    opacity: 0.4;
    margin-top: -80px;
  }

.footer_line1 {
  font-size: 10px;
  text-align: center;
  padding: 100px;

}
.footer_line2{
  font-size: 10px;
  text-align: center;
  padding: 100px;
  margin-top: -200px;
}
.checked {
  text-decoration: line-through;
}

.unchecked {
  text-decoration: none;
}

.comment_avatar {
  margin-bottom: -36px;
  clear: both;
  margin-right: 10px;
}

.comments_heading {
  font-weight: bold;
}

.flourish {
  display: block;
  overflow: hidden;
  text-align: center;
  opacity: 0.4;
}
.flourish:before,
.flourish:after {
  content: "";
  display: inline-block;
  vertical-align: middle;
  position: relative;
  width: 50%;
  border-top-style: solid;
  border-top-width: 1px;
}
.flourish:before {
  right: 0em;
  margin-left: -50%;
}
.flourish:after {
  left: 0em;
  margin-right: -50%;
}

img {
  vertical-align: middle;
}
