/*style goes here*/
body {
  font-family: helvetica;
  width: 960px;
  margin: 0 auto;
}



.bar {
  text-align: center;
}

header section img {
  margin-top: 12px;
  float: left;
}

main {
  width: 960px;
  margin: 30px auto;
}

button {
  font-size: 18px;
  border: none;
  padding: 12px 36px;
  background-color: #B85036;
  color: white;

}
footer {
    height: 0;
    margin-bottom: 0;
    clear: both;
  }
